.box{
    border: rgb(8, 8, 8) 3px solid;
    border-radius: 4px;
    background-color: palevioletred ;
    width: 250px;
    height: 150px;
}

.right-box{
    margin-left: auto;
    margin-top: 50px;
}
.centre-box{
    margin-left: auto;
    margin-right: auto;
}
.left-box{
    margin-top: 50px;
}
.text{
    text-align: center;
}